<launch>
  <!--<node name="imu_pub" pkg="forslam" type="imu_pub.py" output="screen"/>-->
  <!--<node name="base_to_imu" pkg="tf" type="static_transform_publisher" args="-0.45 0 0 0 0 0 1 base_link imu_link 100" output="screen"/>-->
  <node name="odom_pub" pkg="forslam" type="odom" output="screen"/>
  <node name="cmd" pkg="forslam" type="cmd" output="screen"/>
</launch>

